<!-- INCLUDE mcp_header.html -->
<h2>{L_TITLE}</h2>
<form id="mcp" method="post" action="{S_MCP_ACTION}">
<div class="panel bg3">{L_FORUM}{L_COLON} <select name="f" id="fo">{S_FORUM_OPTIONS}</select></label>
	<input type="submit" name="sort" value="{L_GO}" class="button2" />
	{S_FORM_TOKEN}
</div>

<p>{L_EXPLAIN}</p>
<!-- IF .postrow -->
<!-- IF .pagination --> 
<div class="action-bar">
	<div class="rightside pagination">
		<!-- INCLUDE pagination.html -->
	</div>
</div>
<!-- ENDIF -->
<table class="table1" width="100%">
<tr>
	<th class="header"><!-- IF S_TOPICS -->{L_TOPIC}<!-- ELSE -->{L_POST}<!-- ENDIF --> / {TOTAL}</th>
	<th class="header">{L_MARK}</th>
</tr>
<!-- BEGIN postrow -->
<!-- IF postrow.S_DELETED_TOPIC -->
<tr><td class="bg1" colspan="2">{L_DELETED_TOPIC}</td></tr>
<!-- ELSE -->
<tr class="row<!-- IF postrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
	<td><!-- IF postrow.ATTACH_ICON_IMG --><img src="{T_THEME_PATH}/images/icon_topic_attach.gif" alt=""/><!-- ENDIF -->
	<a href="{postrow.U_VIEW_DETAILS}" class="topictitle">{postrow.POST_SUBJECT}</a><br />
	<b>{postrow.POST_AUTHOR_FULL}</b> &raquo; {postrow.POST_TIME}
	<!-- IF S_TOPICS --><br /><!-- ELSE -->{L_TOPIC}{L_COLON} <a href="{postrow.U_TOPIC}">{postrow.TOPIC_TITLE}</a><br /><!-- ENDIF -->
	{L_FORUM}{L_COLON} <a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a></td>
	<!-- IF S_TOPICS -->
	<td class="mark"><input type="checkbox" name="topic_id_list[]" value="{postrow.TOPIC_ID}" /></td>
	<!-- ELSE -->
	<td class="mark"><input type="checkbox" name="post_id_list[]" value="{postrow.POST_ID}" /></td>
	<!-- ENDIF -->
</tr>
<!-- ENDIF -->
<!-- END postrow -->
</table>
<div class="submit-buttons">{S_SELECT_SORT_DAYS} {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}
<!-- IF TOPIC_ID -->
<input type="checkbox" class="radio" name="t" value="{TOPIC_ID}" checked="checked" />&nbsp; {L_ONLY_TOPIC}<!-- ENDIF -->
	<input type="submit" name="sort" value="{L_GO}" class="button2" />
</div>
<div class="rightside">
<!-- IF S_TOPICS -->
	<a href="#" onclick="marklist('mcp', 'topic_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'topic_id_list', false); return false;">{L_UNMARK_ALL}</a>
<!-- ELSE -->
	<a href="#" onclick="marklist('mcp', 'post_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'post_id_list', false); return false;">{L_UNMARK_ALL}</a>
<!-- ENDIF -->
</div>
<hr />
<div class="action-bar">
<!-- IF .pagination -->
<div class="rightside pagination">
	<!-- INCLUDE pagination.html -->
</div>
<!-- ENDIF -->
<!-- IF S_RESTORE -->
<input class="button2" type="submit" name="action[delete]" value="{L_DELETE}" />&nbsp;
<input class="button1" type="submit" name="action[restore]" value="{L_RESTORE}" />
<!-- ELSE -->
<input class="button2" type="submit" name="action[disapprove]" value="{L_DISAPPROVE}" />&nbsp;
<input class="button1" type="submit" name="action[approve]" value="{L_APPROVE}" />
<!-- ENDIF -->
</div>
<!-- ELSE -->
<div class="panel">
	<!-- IF S_RESTORE -->
		<!-- IF S_TOPICS -->{L_NO_TOPICS_DELETED}<!-- ELSE -->{L_NO_POSTS_DELETED}<!-- ENDIF -->
	<!-- ELSE -->
		<!-- IF S_TOPICS -->{L_NO_TOPICS_QUEUE}<!-- ELSE -->{L_NO_POSTS_QUEUE}<!-- ENDIF -->
	<!-- ENDIF -->
</div>
<!-- ENDIF -->
</form>
<!-- INCLUDE mcp_footer.html -->
