<!-- INCLUDE simple_header.html -->
<h2>{L_SEND_IM}</h2>
<form method="post" action="{S_IM_ACTION}">
<div class="panel bg2">
	<p>{L_SEND_IM_EXPLAIN}</p>
	<div class="panel">{L_IM_RECIPIENT}{L_COLON}<br />
	<b>{USERNAME}</b><!-- IF S_NO_SEND_JABBER --> [ {IM_CONTACT} ]<!-- ENDIF --><!-- IF PRESENCE_IMG --> {PRESENCE_IMG}<!-- ENDIF --></div>
	<!-- IF S_SEND_JABBER -->
	<div class="panel">{L_IM_MESSAGE}{L_COLON}<br />
	<textarea class="inputbox autowidth" name="message" id="message" rows="4" cols="25"></textarea></div>
	<input class="button1" name="submit" type="submit" value="{L_IM_SEND}" />
	<p><i>{L_IM_SENT_JABBER}</i></p>
	<!-- ELSE IF S_NO_SEND_JABBER -->
	<div class="panel">{L_IM_NO_JABBER}</div>
	<!-- ENDIF -->
	{S_FORM_TOKEN}
</div>
</form>
<a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>
<!-- INCLUDE simple_footer.html -->
