<script type="text/javascript">
// <![CDATA[
	var form_name = 'postform';
	var text_name = <!-- IF $SIG_EDIT -->'signature'<!-- ELSE -->'message'<!-- ENDIF -->;
	var load_draft = false;
	var upload = false;
	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[img]','[/img]','[url]','[/url]');
	var imageTag = false;
	// Helpline messages
	var help_line = {
		b: '{LA_BBCODE_B_HELP}',
		i: '{LA_BBCODE_I_HELP}',
		u: '{LA_BBCODE_U_HELP}',
		q: '{LA_BBCODE_Q_HELP}',
		c: '{LA_BBCODE_C_HELP}',
		p: '{LA_BBCODE_P_HELP}',
		w: '{LA_BBCODE_W_HELP}',
		a: '{LA_BBCODE_A_HELP}',
		s: '{LA_BBCODE_S_HELP}',

	}
	function change_palette()
	{
		phpbb.toggleDisplay('colour_palette');
		e = document.getElementById('colour_palette');

		if (e.style.display == 'block')
		{
			document.getElementById('bbpalette').value = '{LA_FONT_COLOR_HIDE}';
		}
		else
		{
			document.getElementById('bbpalette').value = '{LA_FONT_COLOR}';
		}
	}

// ]]>
</script>
<!-- INCLUDEJS {T_ASSETS_PATH}/javascript/editor.js -->
<!-- IF S_BBCODE_ALLOWED -->
<div id="colour_palette" style="display: none;">
	<p id="color_palette_placeholder" data-orientation="h" data-height="10" data-width="10" data-bbcode="true"></p>
</div>
<div id="format-buttons">
<input type="button" class="button" name="addbbcode0" value=" B " style="font-weight:bold;" onclick="bbstyle(0)" title="{L_BBCODE_B_HELP}" />
<input type="button" class="button" name="addbbcode2" value=" i " style="font-style:italic;" onclick="bbstyle(2)" title="{L_BBCODE_I_HELP}" />
<input type="button" class="button" name="addbbcode4" value=" u " style="text-decoration:underline;" onclick="bbstyle(4)" title="{L_BBCODE_U_HELP}" />
<!-- IF S_BBCODE_QUOTE -->
<input type="button" class="button" name="addbbcode6" value="Quote" onclick="bbstyle(6)" title="{L_BBCODE_Q_HELP}" />
<!-- ENDIF -->
<input type="button" class="button" name="addbbcode8" value="Code" onclick="bbstyle(8)" title="{L_BBCODE_C_HELP}" />
<!-- IF S_BBCODE_IMG -->
<input type="button" class="button" name="addbbcode10" value="Img" onclick="bbstyle(10)" title="{L_BBCODE_P_HELP}" />
<!-- ENDIF -->
<!-- IF S_LINKS_ALLOWED -->
<input type="button" class="button" name="addbbcode12" value="URL" style="text-decoration: underline;" onclick="bbstyle(12)" title="{L_BBCODE_W_HELP}" />
<!-- ENDIF -->
<input type="button" class="button" name="bbpalette" id="bbpalette" value="{L_FONT_COLOR}" onclick="change_palette();" title="{L_BBCODE_S_HELP}" />
</div>
<!-- ENDIF -->
