<!-- INCLUDE overall_header.html -->
<script type="text/javascript">
// <![CDATA[
	/**
	* Change language
	*/
	function change_language(lang_iso)
	{
		document.cookie = '{COOKIE_NAME}_lang=' + lang_iso + '; path={COOKIE_PATH}';
		document.forms['register'].change_lang.value = lang_iso;
		document.forms['register'].submit.click();
	}
// ]]>
</script>
<form method="post" action="{S_UCP_ACTION}" id="register">
<div class="panel bg3">
<h2>{SITENAME} - {L_REGISTRATION}</h2>
<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
<!-- IF L_REG_COND --><p><i>{L_REG_COND}</i></p><!-- ENDIF -->
<!-- EVENT ucp_register_credentials_before -->
<div class="post bg1">{L_USERNAME}{L_COLON}<br /><i>{L_USERNAME_EXPLAIN}</i><br />
<input type="text" name="username" size="25" value="{USERNAME}" class="inputbox" title="{L_USERNAME}" /></div>
<div class="post bg1">{L_EMAIL_ADDRESS}{L_COLON}<br />
<input type="email" name="email" size="25" maxlength="100" value="{EMAIL}" class="inputbox" title="{L_EMAIL_ADDRESS}" autocomplete="off" /></div>
<div class="post bg1">{L_PASSWORD}{L_COLON}<br /><i>{L_PASSWORD_EXPLAIN}</i><br />
<input type="password" name="new_password" size="25" value="{PASSWORD}" class="inputbox" title="{L_NEW_PASSWORD}" autocomplete="off" /></div>
<div class="post bg1">{L_CONFIRM_PASSWORD}{L_COLON}<br />
<input type="password" name="password_confirm" size="25" value="{PASSWORD_CONFIRM}" class="inputbox" title="{L_CONFIRM_PASSWORD}" autocomplete="off" /></div>
<!-- EVENT ucp_register_credentials_after -->
<!-- EVENT ucp_register_options_before -->
<div class="post bg1">{L_LANGUAGE}{L_COLON}<br />
<select name="lang" onchange="change_language(this.value); return false;" title="{L_LANGUAGE}">{S_LANG_OPTIONS}</select></div>
<!-- INCLUDE timezone_option.html -->
<!-- EVENT ucp_register_profile_fields_before -->
<!-- IF .profile_fields -->
<p><i>{L_ITEMS_REQUIRED}</i></p>
<!-- BEGIN profile_fields -->
<p>{profile_fields.LANG_NAME}{L_COLON}<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF --><br />
<!-- IF profile_fields.LANG_EXPLAIN --><i>{profile_fields.LANG_EXPLAIN}</i><br /><!-- ENDIF -->
<!-- IF profile_fields.ERROR --><span class="error">{profile_fields.ERROR}</span><br /><!-- ENDIF -->
{profile_fields.FIELD}</p>
<!-- END profile_fields -->
<!-- ENDIF -->
<!-- EVENT ucp_register_profile_fields_after -->
</div>
<!-- IF CAPTCHA_TEMPLATE -->
<!-- DEFINE $CAPTCHA_TAB_INDEX = 8 -->
<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
<!-- ENDIF -->
<!-- IF S_COPPA -->
<div class="panel"><h3>{L_COPPA_COMPLIANCE}</h3><p>{L_COPPA_EXPLAIN}</p></div>
<!-- ENDIF -->
<div class="panel submit-buttons">
{S_HIDDEN_FIELDS}
<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
<input type="submit" tabindex="9" name="submit" id="submit" value="{L_SUBMIT}" class="button1" />
{S_FORM_TOKEN}
</div>
</form>
<!-- INCLUDE overall_footer.html -->
