<!-- INCLUDE overall_header.html -->
<!-- IF S_SHOW_COPPA or S_REGISTRATION -->
<!-- IF S_LANG_OPTIONS -->
<script type="text/javascript">
// <![CDATA[
/**
* Change language
*/
function change_language(lang_iso)
{
	document.cookie = '{COOKIE_NAME}_lang=' + lang_iso + '; path={COOKIE_PATH}';
	document.forms['register'].change_lang.value = lang_iso;
	document.forms['register'].submit();
}
// ]]>
</script>
<form method="post" action="{S_UCP_ACTION}" id="register">
<p class="rightside">{L_LANGUAGE}{L_COLON}
<select name="lang" id="lang" onchange="change_language(this.value); return false;" title="{L_LANGUAGE}">{S_LANG_OPTIONS}</select>
{S_HIDDEN_FIELDS}</p>
</form>
<div class="clear"></div>
<!-- ENDIF -->
<form method="post" action="{S_UCP_ACTION}" id="agreement">
<div class="panel">
<h2>{SITENAME} - {L_REGISTRATION}</h2>
<!-- EVENT ucp_agreement_terms_before -->
<p><!-- IF S_SHOW_COPPA -->{L_COPPA_BIRTHDAY}<!-- ELSE --><i>{L_LOGIN_INFO}</i><br /><a href="{U_TERMS_USE}">{L_TERMS_USE}</a> | <a href="{U_PRIVACY}">{L_PRIVACY}</a><!-- ENDIF --></p>
<!-- EVENT ucp_agreement_terms_after -->
</div>
<div class="panel">
<!-- IF S_SHOW_COPPA -->
<a href="{U_COPPA_NO}" class="button1">{L_COPPA_NO}</a>&nbsp; <a href="{U_COPPA_YES}" class="button2">{L_COPPA_YES}</a>
<!-- ELSE -->
<input type="submit" name="agreed" id="agreed" value="{L_AGREE}" class="button1" />&nbsp;
<input type="submit" name="not_agreed" value="{L_NOT_AGREE}" class="button2" />
<!-- ENDIF -->
{S_HIDDEN_FIELDS}
{S_FORM_TOKEN}
</div>
</form>
<!-- ELSEIF S_AGREEMENT -->
<div class="panel">
<h2>{SITENAME} - {AGREEMENT_TITLE}</h2>
<p>{AGREEMENT_TEXT}</p><hr class="dashed" />
<p><a href="{U_BACK}" class="button">{L_BACK}</a></p>
</div>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->
