<!-- BEGIN oauth -->
<form id="ucp" method="post" action="{S_UCP_ACTION}">
<h3>{oauth.SERVICE_NAME}</h3>
<div class="row <!-- IF oauth.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
<!-- IF oauth.UNIQUE_ID -->
<p>{L_UCP_AUTH_LINK_ID}{L_COLON} {oauth.UNIQUE_ID}<br />
<input type="submit" name="submit" value="{L_UCP_AUTH_LINK_UNLINK}" class="button1" /></p>
<!-- ELSE -->
<p>{L_UCP_AUTH_LINK_ASK}<br />
<input type="submit" name="submit" value="{L_UCP_AUTH_LINK_LINK}" class="button1" /></p>
<!-- ENDIF -->
</div>
{oauth.HIDDEN_FIELDS}
{S_HIDDEN_FIELDS}
{S_FORM_TOKEN}
</form>
<!-- END oauth -->
