<!-- INCLUDE overall_header.html -->
<form action="{S_PROFILE_ACTION}" method="post" id="remind">
<div class="forabg">
<div class="header">{L_SEND_PASSWORD}</div>
<div class="row">{L_USERNAME}{L_COLON}<br />
<input class="inputbox autowidth" type="text" name="username" size="25" /></div>
<div class="row">{L_EMAIL_ADDRESS}{L_COLON}<br /><i>{L_EMAIL_REMIND}</i><br />
<input class="inputbox autowidth" type="email" name="email" size="25" maxlength="100" /></div>
</div>
<div class="panel submit-buttons">{S_FORM_TOKEN} {S_HIDDEN_FIELDS} <input type="submit" name="submit" class="button1" value="{L_SUBMIT}" />&nbsp; <input type="reset" value="{L_RESET}" name="reset" class="button2" /></div>
</form>
<!-- INCLUDE overall_footer.html -->
