<div class="panel bg3">{L_LINK_REMOTE_AVATAR}{L_COLON}<br /><i>{L_LINK_REMOTE_AVATAR_EXPLAIN}</i><br />
<input type="url" name="avatar_remote_url" id="avatar_remote_url" value="{AVATAR_REMOTE_URL}" class="inputbox" data-reset-on-edit="#avatar_remote_width, #avatar_remote_height" />
<p>{L_LINK_REMOTE_SIZE}{L_COLON}<br /><i>{L_LINK_REMOTE_SIZE_EXPLAIN}</i><br />
<input type="text" name="avatar_remote_width" id="avatar_remote_width" size="3" value="{AVATAR_REMOTE_WIDTH}" class="inputbox autowidth" /> {L_PIXEL} &times;&nbsp; 
<input type="text" name="avatar_remote_height" id="avatar_remote_height" size="3" value="{AVATAR_REMOTE_HEIGHT}" class="inputbox autowidth" /> {L_PIXEL}</p></div>
