<!-- IF MODE == 'notification_options' -->
<!-- INCLUDE ucp_header.html -->
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
<div class="post bg2"><i>{TITLE_EXPLAIN}</i></div>
<table class="table1" width="100%">
<thead>
<tr>
	<th class="header">{L_NOTIFICATION_TYPE}</th>
	<!-- BEGIN notification_methods -->
	<th class="header">{notification_methods.NAME}</th>
	<!-- END notification_methods -->
	<th class="header">{L_NOTIFICATIONS}</th>
</tr>
</thead>
<tbody>
<!-- BEGIN notification_types -->
<!-- IF notification_types.GROUP_NAME -->
	<tr class="bg3">
		<td colspan="{NOTIFICATION_TYPES_COLS}">{notification_types.GROUP_NAME}</td>
	</tr>
<!-- ELSE -->
	<tr class="<!-- IF notification_types.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<td>
			{notification_types.NAME}
			<!-- IF notification_types.EXPLAIN --><br />&nbsp; &nbsp;{notification_types.EXPLAIN}<!-- ENDIF -->
		</td>
		<!-- BEGIN notification_methods -->
			<td class="mark"><input type="checkbox" name="{notification_types.TYPE}_{notification_methods.METHOD}"<!-- IF notification_methods.SUBSCRIBED --> checked="checked"<!-- ENDIF --> /></td>
		<!-- END notification_methods -->
		<td class="mark"><input type="checkbox" name="{notification_types.TYPE}_notification"<!-- IF notification_types.SUBSCRIBED --> checked="checked"<!-- ENDIF --> /></td>
	</tr>
<!-- ENDIF -->
<!-- END notification_types -->
</tbody>
</table>

<!-- ELSE -->

<!-- INCLUDE overall_header.html -->
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
<h2>{TITLE}</h2>
<i>{TITLE_EXPLAIN}</i>
<!-- IF .notification_list -->
<!-- IF .pagination -->
<div class="action-bar">
<div class="pagination rightside">
	<!-- INCLUDE pagination.html -->
</div>
</div>
<!-- ENDIF -->
<!-- IF U_MARK_ALL --><a href="{U_MARK_ALL}"><i>{L_NOTIFICATIONS_MARK_ALL_READ}</i></a><!-- ENDIF -->
<div class="notification_list">
<div class="header">{L_NOTIFICATIONS} [{TOTAL_COUNT}]</div>
<!-- BEGIN notification_list -->
<div class="row<!-- IF notification_list.UNREAD --> bg3<!-- ELSE --><!-- IF notification_list.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- ENDIF --> avatar">
	<!-- IF notification_list.AVATAR -->{notification_list.AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF -->
	<!-- IF notification_list.REFERENCE -->{notification_list.FORMATTED_TITLE}<br /><!-- ENDIF -->
	<!-- IF notification_list.URL --><a href="<!-- IF notification_list.UNREAD -->{notification_list.U_MARK_READ}<!-- ELSE -->{notification_list.URL}<!-- ENDIF -->"><!-- ENDIF --><!-- IF notification_list.REFERENCE -->{notification_list.REFERENCE}<!-- ELSE -->{notification_list.FORMATTED_TITLE}<!-- ENDIF --><!-- IF notification_list.URL --></a><!-- ENDIF -->
	<!-- IF notification_list.FORUM --><p>{notification_list.FORUM}</p><!-- ENDIF -->
	<!-- IF notification_list.REASON --><p>{notification_list.REASON}</p><!-- ENDIF -->
	<p>{notification_list.TIME}</p>
	<p>&nbsp;<input type="checkbox" name="mark[]" value="{notification_list.NOTIFICATION_ID}"<!-- IF not notification_list.UNREAD --> disabled="disabled"<!-- ENDIF --> /> {L_MARK_READ}&nbsp;</p>
</div>
<!-- END notification_list -->
</div>
<!-- IF .pagination -->
<div class="action-bar">
	<div class="pagination rightside">
		<!-- INCLUDE pagination.html -->
	</div>
</div>
<!-- ENDIF -->
<!-- ELSE -->
	<p>{L_NO_NOTIFICATIONS}</p>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- IF .notification_types or .notification_list -->
<div class="panel">
<div class="inner">
	<input type="hidden" name="form_time" value="{FORM_TIME}" />
	{S_HIDDEN_FIELDS}
	<input type="submit" name="submit" value="<!-- IF MODE == 'notification_options' -->{L_SUBMIT}<!-- ELSE -->{L_MARK_READ}<!-- ENDIF -->" class="button1" />
	<div class="rightside"><a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{L_UNMARK_ALL}</a></div>
	{S_FORM_TOKEN}
</div>
</div>
<!-- ENDIF -->
</form>
<!-- IF MODE == 'notification_options' -->
<!-- INCLUDE ucp_footer.html -->
<!-- ELSE -->
<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
