<div class="panel bg3">{L_GRAVATAR_AVATAR_EMAIL}{L_COLON}<br /><i>{L_GRAVATAR_AVATAR_EMAIL_EXPLAIN}</i><br />
<input type="email" name="avatar_gravatar_email" id="avatar_gravatar_email" value="{AVATAR_GRAVATAR_EMAIL}" class="inputbox" data-reset-on-edit="#avatar_gravatar_width, #avatar_gravatar_height" />
<p>{L_GRAVATAR_AVATAR_SIZE}{L_COLON}<br /><i>{L_GRAVATAR_AVATAR_SIZE_EXPLAIN}</i><br />
<input type="text" name="avatar_gravatar_width" size="3" value="{AVATAR_GRAVATAR_WIDTH}" class="inputbox autowidth" /> {L_PIXEL} &times;&nbsp; 
<input type="text" name="avatar_gravatar_height" size="3" value="{AVATAR_GRAVATAR_HEIGHT}" class="inputbox autowidth" /> {L_PIXEL}</p>
</div>
