<!-- INCLUDE overall_header.html -->
<h2><!-- EVENT viewtopic_topic_title_prepend -->{TOPIC_TITLE}<!-- EVENT viewtopic_topic_title_append --></h2>
<!-- IF MODERATORS -->
<p><b><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON}</b> {MODERATORS}</p>
<!-- ENDIF -->
<!-- IF S_FORUM_RULES -->
<div class="panel<!-- IF U_FORUM_RULES --> rules-link<!-- ENDIF -->">
<!-- IF U_FORUM_RULES -->
	<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
<!-- ELSE -->
	<b>{L_FORUM_RULES}</b><br />{FORUM_RULES}
<!-- ENDIF -->
</div>
<!-- ENDIF -->
<!-- EVENT viewtopic_dropdown_top_custom -->
<div class="action-bar">
	<!-- EVENT viewtopic_buttons_top_before -->
	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
	<a href="{U_POST_REPLY_TOPIC}" class="button"><!-- IF S_IS_LOCKED -->{L_BUTTON_TOPIC_LOCKED}<!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF --></a>
	<!-- ENDIF -->
	<!-- EVENT viewtopic_buttons_top_after -->
	<!-- IF .pagination -->
	<div class="rightside pagination">
		<!-- INCLUDE pagination.html -->
	</div>
	<!-- ENDIF -->
	<!-- EVENT viewtopic_body_pagination_top_after -->
</div>
<!-- EVENT viewtopic_body_poll_before -->
<!-- IF S_HAS_POLL -->
<form method="post" action="{S_POLL_ACTION}">
<div class="forumbg">
<div class="header"><!-- EVENT viewtopic_body_poll_question_prepend -->{POLL_QUESTION}<!-- EVENT viewtopic_body_poll_question_append --></div>
<i>{L_POLL_LENGTH}<!-- IF S_CAN_VOTE and L_POLL_LENGTH --><br /><!-- ENDIF --><!-- IF S_CAN_VOTE --><span>{L_MAX_VOTES}</span><!-- ENDIF --></i>
<!-- BEGIN poll_option -->
<div class="row">
<div class="inner">
<!-- EVENT viewtopic_body_poll_option_before -->
<!-- IF S_CAN_VOTE -->
<!-- IF S_IS_MULTI_CHOICE --><input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
<!-- ELSE -->
<input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
<!-- ENDIF -->
<!-- ENDIF -->
	{poll_option.POLL_OPTION_CAPTION}
<!-- IF S_DISPLAY_RESULTS -->
	<div class="rightside bg1" style="width: 100px">
	<div style="width:{poll_option.POLL_OPTION_PERCENT_REL};" class="<!-- IF poll_option.POLL_OPTION_PCT < 50 -->bg2<!-- ELSE -->bg3<!-- ENDIF -->"><i>{poll_option.POLL_OPTION_RESULT}/{poll_option.POLL_OPTION_PERCENT}</i></div></div>
<!-- ENDIF -->
</div>
<!-- EVENT viewtopic_body_poll_option_after -->
</div>
<!-- END poll_option -->
<div class="action-bar">
<p class="rightside"><!-- IF S_DISPLAY_RESULTS -->{L_VOTE_SUBMITTED} [{L_TOTAL_VOTES}{L_COLON} {TOTAL_VOTES}]<!-- ELSE --><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a><!-- ENDIF --></p>
<!-- IF S_CAN_VOTE --><p><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button1" /></p><!-- ENDIF -->
</div>
{S_FORM_TOKEN}
{S_HIDDEN_FIELDS}
</div>
</form>
<!-- ENDIF -->
<!-- EVENT viewtopic_body_poll_after -->
<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><i><a href="{U_VIEW_UNREAD_POST}" class="mark-read">{L_VIEW_UNREAD_POST}</a></i><!-- ENDIF -->
<!-- BEGIN postrow -->
<!-- EVENT viewtopic_body_postrow_post_before -->
<!-- IF postrow.S_FIRST_UNREAD -->
	<a id="unread" class="anchor"<!-- IF S_UNREAD_VIEW --> data-url="{postrow.U_MINI_POST}"<!-- ENDIF -->></a>
<!-- ENDIF -->
<div id="p{postrow.POST_ID}" class="post <!-- IF postrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
	<div class="inner">
	<!-- IF postrow.S_POST_HIDDEN -->
	<!-- IF postrow.S_POST_DELETED -->
		<div class="ignore" id="post_hidden{postrow.POST_ID}">{postrow.L_POST_DELETED_MESSAGE}<br />{postrow.L_POST_DISPLAY}</div>
	<!-- ELSEIF postrow.S_IGNORE_POST -->
		<div class="ignore" id="post_hidden{postrow.POST_ID}">{postrow.L_IGNORE_POST}<br />{postrow.L_POST_DISPLAY}</div>
	<!-- ENDIF -->
	<!-- ENDIF -->

	<!-- IF not postrow.S_POST_HIDDEN -->
		<div class="inner">
			<!-- EVENT viewtopic_body_postrow_post_details_before -->
			<p class="author small-icon">
				<!-- EVENT viewtopic_body_avatar_before --><!-- IF postrow.POSTER_AVATAR --><span class="avatar">{postrow.POSTER_AVATAR}</span><!-- ENDIF --><!-- EVENT viewtopic_body_avatar_after -->
				<img src="{T_THEME_PATH}/images/icon_<!-- IF postrow.S_ONLINE -->online<!-- ELSE -->offline<!-- ENDIF -->.gif" title="{L_POST} #{postrow.POST_NUMBER}" alt="{postrow.POST_NUMBER}." /><!-- EVENT viewtopic_body_post_author_before --><b>{postrow.POST_AUTHOR_FULL}</b><!-- EVENT viewtopic_body_post_author_after --> &raquo; {postrow.POST_DATE}
				<!-- DEFINE $SHOW_POST_BUTTONS = (postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO) -->
				<!-- EVENT viewtopic_body_post_buttons_list_before -->
				<!-- IF not S_IS_BOT -->
				<!-- IF $SHOW_POST_BUTTONS -->
					<span class="rightside">
					<!-- EVENT viewtopic_body_post_buttons_before -->
					<!-- IF postrow.U_DELETE --><a href="{postrow.U_DELETE}" title="{L_DELETE_POST}" class="button"><span>x</span></a><!-- ENDIF -->
					<!-- IF postrow.U_REPORT --><a href="{postrow.U_REPORT}" title="{L_REPORT_POST}" class="button"><span>!</span></a><!-- ENDIF -->
					<!-- IF postrow.U_WARN --><a href="{postrow.U_WARN}" title="{L_WARN_USER}" class="button"><span>#</span></a><!-- ENDIF -->
					<!-- IF postrow.U_INFO --><a href="{postrow.U_INFO}" title="{L_INFORMATION}" class="button"><span>i</span></a><!-- ENDIF -->
					<!-- EVENT viewtopic_body_post_buttons_after -->
					</span>
				<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- EVENT viewtopic_body_post_buttons_list_after -->
			</p>
			<!-- EVENT viewtopic_body_postrow_post_details_after -->
		</div>
		<!-- IF postrow.S_POST_UNAPPROVED -->
		<form method="post" class="mcp_approve" action="{postrow.U_APPROVE_ACTION}">
			<p class="post-notice unapproved">
				<b>{L_POST_UNAPPROVED_ACTION}</b>
				<input class="button2" type="submit" value="{L_DISAPPROVE}" name="action[disapprove]" />
				<input class="button1" type="submit" value="{L_APPROVE}" name="action[approve]" />
				<input type="hidden" name="post_id_list[]" value="{postrow.POST_ID}" />
				{S_FORM_TOKEN}
			</p>
		</form>
		<!-- ELSEIF postrow.S_POST_DELETED -->
		<form method="post" class="mcp_approve" action="{postrow.U_APPROVE_ACTION}">
			<p class="post-notice deleted">
				<b>{L_POST_DELETED_ACTION}</b>
				<input class="button2" type="submit" value="{L_DELETE}" name="action[disapprove]" />
				<input class="button1" type="submit" value="{L_RESTORE}" name="action[restore]" />
				<input type="hidden" name="post_id_list[]" value="{postrow.POST_ID}" />
				{S_FORM_TOKEN}
			</p>
		</form>
		<!-- ENDIF -->
		<!-- IF postrow.S_POST_REPORTED -->
		<p class="post-notice reported"><a href="{postrow.U_MCP_REPORT}"><b>{L_POST_REPORTED}</b></a></p>
		<!-- ENDIF -->
		<div class="content">{postrow.MESSAGE}</div>
		<!-- IF postrow.S_HAS_ATTACHMENTS -->
		<div class="attachbox">
			<b>{L_ATTACHMENTS}</b>
			<!-- BEGIN attachment -->
			{postrow.attachment.DISPLAY_ATTACHMENT}
			<!-- END attachment -->
		</div>
		<!-- ENDIF -->
		<!-- EVENT viewtopic_body_postrow_post_notices_before -->
		<!-- IF postrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
		<!-- IF postrow.DELETED_MESSAGE or postrow.DELETE_REASON -->
			<div class="notice post_deleted_msg">
				{postrow.DELETED_MESSAGE}
				<!-- IF postrow.DELETE_REASON --><br /><b>{L_REASON}{L_COLON}</b> <i>{postrow.DELETE_REASON}</i><!-- ENDIF -->
			</div>
		<!-- ELSEIF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
			<div class="notice">
				{postrow.EDITED_MESSAGE}
				<!-- IF postrow.EDIT_REASON --><br /><b>{L_REASON}{L_COLON}</b> <i>{postrow.EDIT_REASON}</i><!-- ENDIF -->
			</div>
		<!-- ENDIF -->
		<!-- IF postrow.BUMPED_MESSAGE --><div class="notice"><br /><br />{postrow.BUMPED_MESSAGE}</div><!-- ENDIF -->
		<!-- EVENT viewtopic_body_postrow_post_notices_after -->
		<!-- IF postrow.U_EDIT -->
		<a href="{postrow.U_EDIT}" title="{L_EDIT_POST}" class="button rightside"><span>{L_BUTTON_EDIT}</span></a><!-- ENDIF -->
		<!-- IF postrow.U_QUOTE -->
		<a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}" class="button rightside"><span>{L_QUOTE}</span></a><!-- ENDIF -->
		<!-- IF postrow.U_PM -->
		<a href="{postrow.U_PM}" title="{L_SEND_PRIVATE_MESSAGE}" class="button">{L_BUTTON_PM}</a>
		<!-- ENDIF -->
		<!-- IF postrow.SIGNATURE --><hr />{postrow.SIGNATURE}<!-- ENDIF -->
		<!-- EVENT viewtopic_body_postrow_post_content_footer -->
	<!-- ENDIF -->
	</div>
</div>
<!-- EVENT viewtopic_body_postrow_post_after -->
<!-- END postrow -->
<!-- IF S_NUM_POSTS > 1 or .pagination -->
<form id="viewtopic" method="post" action="{S_TOPIC_ACTION}">
<div class="post bg3 dropdown-container">
<!-- IF not S_IS_BOT -->
<a href="#" title="{L_DISPLAY_POSTS}" class="dropdown-trigger">{L_SORT_BY}</a>
<div class="dropdown hidden">{S_SELECT_SORT_DAYS} {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}
<input type="submit" name="sort" value="{L_GO}" class="button2" /></div><!-- ENDIF -->
</div>
</form>
<!-- ENDIF -->
<!-- EVENT viewtopic_dropdown_bottom_custom -->
<div class="action-bar">
<!-- IF .pagination -->
<div class="rightside pagination">
	<!-- INCLUDE pagination.html -->
</div>
<!-- ENDIF -->
<div class="buttons">
<!-- EVENT viewtopic_buttons_bottom_before -->
<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
	<a href="{U_POST_REPLY_TOPIC}" class="button">
		<!-- IF S_IS_LOCKED -->{L_BUTTON_TOPIC_LOCKED}<!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF -->
	</a>
<!-- ENDIF -->
<!-- EVENT viewtopic_buttons_bottom_after -->
</div>
</div>
<!-- IF S_QUICK_REPLY -->
<!-- INCLUDE quickreply_editor.html -->
<!-- ENDIF -->
<!-- EVENT viewtopic_body_topic_actions_before -->
<!-- INCLUDE viewtopic_topic_tools.html -->
<p> &laquo; <a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></p>
<!-- EVENT viewtopic_body_footer_before -->
<!-- INCLUDE overall_footer.html -->
